{% set active = "shoppingList" %}
{% extends 'desktop/base.html.twig' %}

{% block title %}
    Mes Listes
{% endblock %}

{% block body %}
    {% set shoppingLists = shoppingListRepository.findBy({}, {"date": "desc"}) %}
    <ul class="list-group">
        <a
                class="list-group-item d-flex justify-content-between align-items-center active"
                href="{{ path("shopping_list_create") }}">
            Nouvelle liste
        </a>
        {% for shoppingList in shoppingLists %}
            <a
                    href="{{ path("shopping_list_show", {"id": shoppingList.id}) }}"
                    class="list-group-item d-flex align-items-center">
                <span style="width: 10em">{{ shoppingList.date|format_datetime(locale="fr_FR", pattern="dd MMMM YYYY") }}</span>
                {% for recipeType in recipeTypeRepository.findBy({}, {"sequence": "ASC"}) %}
                    <span class="me-3">
                        {{ shoppingList.typeNumber(recipeType) }}
                    <img style="height: 1.5em" src="{{ absolute_url(asset(recipeType.image)) }}" alt="{{ recipeType.name }}">
                </span>
                {% endfor %}
                <span class="flex-fill"></span>
                {% if not shoppingList.locked %}
                    <span class="badge float-end bg-primary rounded-pill me-1">active</span>
                {% endif %}
            </a>
        {% endfor %}
    </ul>
{% endblock %}
